body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header {
    width: 100%;
    background-color:aliceblue;
    height: 35px;
}

.circle1 {display: inline-block;
    width: 10px;
    height: 10px;
    margin: 13px 2px 12px 10px;
    background-color: red;
    border-radius: 100%;
}

.circle2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 13px 2px 12px;
    background-color: yellow;
    border-radius: 100%;
}

.circle3 {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 13px 2px 12px;
    background-color: green;
    border-radius: 100%;
}

.content {
    height: 760px;
}

.register-part {
    width: 60%;
    height: 100%;
    float: left;
    background-color: #161718;
}

.login-part {
    width: 40%;
    height: 100%;
    float: right;
    background-color: rgb(0, 170, 108);
}

img {
    margin: 60px 80px;
    height: 45px;
}

.welcome {
    color: #fff;
    font-weight: 300;
    font-size: 40px;
    margin: 100px 80px 0px 80px;
    line-height: 1.25;
}
.h3-left{
    color: #5f6468;
    font-weight: 400;
    font-size: 20px;
    margin: 0px 80px;
}

.def {
    color: #5f6468;
    font-weight: 400;
    font-size: 14px;
    margin: 20px 80px 0px; 
}

ul {
    margin-left: 40px;
    margin-top: 150px;
}

.options {
    text-decoration: none;
    text-transform: uppercase;
    color: #5f6468;
    font-size: 12px;
    font-weight: 700;
}

li {
    display: inline-block;
    color: #5f6468;
    margin-right: 30px;
}

.register-button {
    width: 135px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: rgb(0, 170, 108);
    margin: 35px 80px 0px 80px;
    text-transform: uppercase;
}

.h3-right {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin: 300px 100px 0px;
}

form {
    margin: 10px 100px;
}

input {
    width: 80%;
    margin: 20px 0px 0px;
    border: hidden;
    border-bottom: solid 2px;
    border-color: #fff;
    background-color: transparent;
    font-size: 80%;
    outline: none;
    line-height: 1.6;
    color: #fff;
}
::placeholder {
    color: #fff;
}

.login-button {
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    font-size: 11px;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    color: rgb(0, 170, 108);
    margin-top: 30px;
    text-transform: uppercase;
    display: inline-block;
}

.forgot {
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
}